@{
    var db = Database.Open("connectionstring");
    var query = db.Query("SELECT * FROM COMENTS WHERE subjectID = 2 AND state = 1");

    @functions{
        public string Message { get; set; } = "";
        public void OnPost(int id)
        {
            var db = Database.Open("connectionstring");
            var queryDelete = "UPDATE COMENTS SET state = 0 WHERE userID = @0";
            if (db.Execute(queryDelete, id) > 0)
            {
                Response.Redirect("~/CommentStructure");
            }
        }
    }
    if (IsPost)
    {
        OnPost(int.Parse(Request["id"]));
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .MyComment {
            width: 80%;
            height: 60px;
            border: 1px solid;
            border-radius: 5px;
        }

        .User {
            flex: 1;
            padding: 10px;
        }

        #TextComments {
            height: auto;
            width: 100%;
            margin-top: 5px;
            background-color: white;
            border-color: white;
            resize: none;
        }

        .Image {
            width: 50px;
            margin: 10px;
            border: solid 1px;
            border-radius: 50px;
            height: 50px;
        }

        .CommentsRegisters {
            width: 80%;
            display: flex;
            border: solid 1px;
            border-radius: 10px;
            margin: 10px;
        }

        #btnSendComment {
            text-decoration: none;
            padding: 10px;
            font-weight: 600;
            font-size: 20px;
            color: #ffffff;
            background-color: rgba(200, 31, 83, 0.88);
            border-radius: 6px;
            border: 2px solid rgba(165, 26, 69, 1);
        }

            #btnSendComment:hover {
                background-color: white;
                color: rgba(200, 31, 83, 0.88);
            }

        #ImgUserComment {
            position: center;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div>
        <form>
            <label>Agregar comentario:</label><br />
            <textarea class="MyComment"></textarea><br />
            <button id="btnSendComment">Enviar Comentario</button>
        </form>
        <br />

        @foreach (var row in query)
        {
            var name = db.QuerySingle("SELECT name FROM USERS WHERE userID = @0 ", @row.userID);
            <div class="CommentsRegisters">
                <div class="Image"><img id="ImgUserComment" src="Images/ImgUserComment.png" /></div>
                <div class="User">
                    <label>@name[0]</label><br />
                    <textarea id="TextComments" disabled="disabled">@row.coment</textarea>
                </div>
            </div>
            <form asp-page-handler="post" method="post">
                <input type="submit" value="Modificar" />
                <input type="hidden" name="id" value="@row.userID" />
            </form>
        }
        <p>@Message</p>
    </div>
</body>
</html>
