@{
    Validation.RequireField("txtName", "Name is required");
    Validation.RequireField("txtLastName", "LastName is required");
    Validation.RequireField("txtSeccondLastName", "SeccondLastName is required");
    Validation.RequireField("txtEmail", "Email is required");
    Validation.Add("txtEmail", Validator.Regex(@"^([\w]*[\w\.]*(?!\.))", "el formato no es el correcto"));
    Validation.RequireField("txtUserName", "UserName is required");
    Validation.RequireField("txtPassword1", "Password1 is required");
    Validation.Add("txtPassword1", Validator.EqualsTo("txtPassword2", "Las contraseñas deben ser iguales"));
    Validation.RequireField("txtPassword2", "Password2 is required");
    Validation.RequireField("selectEmail", "Elige una opcion");

    var Name = Request.Form["txtName"];
    var LastName = Request.Form["txtLastName"];
    var SeccondLastName = Request.Form["txtSeccondLastName"];
    var UserName = Request.Form["txtUserName"];
    var Password = Request.Form["txtPassword1"];
    var mail = Request.Form["txtEmail"];
    var type = 0;
    var email1 = "@est.univalle.edu";
    var email2 = "@univalle.edu";
    var email = Request.Form["selectEmail"];
    var db = Database.Open("connectionstring");
    if(email == email1)
    {
        type = 1;
    }
    if (Validation.IsValid())
    {
        if (IsPost)
        {
            var insertQuery = @"INSERT INTO users (name, lastName, secondLastName, userName, password, mail, type) values(@0, @1, @2, @3, @4, @5, @6)";
            db.Execute(insertQuery, Name, LastName, SeccondLastName, UserName, Password, mail + email, type);
            Response.Redirect("~/Login");
        }
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            background-size: cover;
            background-color: #b60d50;
        }

        .LoginRegister {
            width: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #000000;
            border-radius: 15px;
            padding: 20px;
            background-color: white;
            text-align: center;
        }

        .textBox {
            width: 100%;
            overflow: hidden;
            font-size: 20px;
            padding: 8px 0;
            margin: 10px 0;
            border-bottom: 1px solid #000000;
            text-align: left;
            border-radius: 10px;
        }

        .label {
            font-size: 20px;
        }

        .btnSend {
            width: 100%;
            border: 2px solid #000000;
            color: black;
            padding: 10px 0px;
            border-radius: 10px;
            margin: 5px 0px;
        }

        .btnSend:hover {
            background: #ce083f;
            color: #fff;
            cursor: pointer;
        }

        #TitleLogin {
            width: 100%;
            font-size: 40px;
            text-align: right;
        }

        #logoU {
            margin: 5px;
        }
        .emailStyle {
            display: flex;
        }
        #emailID {
            width: 50%;
            overflow: hidden;
            font-size: 20px;
            padding: 8px 0;
            margin: 10px 0;
            border-bottom: 1px solid #000000;
            text-align: left;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div>
        
        <form action="" method="post">
            <div class="LoginRegister">
                <img src="~/Images/LogoUnivalle.png" id="logoU" width="100" height="100" required="required"><br />
                <label id="TitleLogin">Univalle Register</label><br />
                <input class="textBox" type="text" placeholder="Nombre" name="txtName" value="@Name" required="required" />
                <br />
                <input class="textBox" type="text" placeholder="Primer Apellido" name="txtLastName" value="@LastName" required="required" /><br />
                <input class="textBox" type="text" placeholder="Segundo Apellido" name="txtSeccondLastName" value="@SeccondLastName" required="required" /><br />
                <div class="emailStyle">
                    <input id="emailID" type="text" placeholder="Correo institucional" name="txtEmail" value="@mail" required="required" /> 
                    <select id="emailID" name="selectEmail">
                        <option value="@email1" selected>@email1</option>
                        <option value="@email2" >@email2</option>
                    </select><br />
                </div>
                <input class="textBox" type="text" placeholder="Nombre de Usuario" name="txtUserName" value="@UserName" required="required"/><br />
                <input class="textBox" type="password" placeholder="Contraseña" name="txtPassword1" value="@Password" required="required" /><br />
                <input class="textBox" type="password" placeholder="Repita su Contraseña" name="txtPassword2" value="" required="required" /><br />
                <input class="btnSend" type="submit" value="REGISTRARSE" />
            </div>
        </form>
    </div>
</body>
</html>
